.gameDetailModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.gameDetailModalContent {
    background: #111118;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    font-size: 1rem;
    color: #EFE7E7;
    border: 1px solid #ccc;
}

.modalCloseBtn {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #EFE7E7;
}

.gameDetailItem {
    border-bottom: 1px solid #EFE7E7;
    padding: 10px 0;
}
